@{
    ViewBag.Title = "About";
}

<div class="col-md-12 spacer1"></div>
<div class="row">
    <div class="col-md-6"></div><img src="~/Content/images/FullSizeRender.jpg" class="img-responsive" /></div>
    <div class="col-md-1"></div>
    <div class="col-md-4 intro">
        <h1>Debbie Nolan</h1>
        <p>Debbie recently graduated from the WeCanCodeIt bootcamp.  Her passion for programming 
        came to light when her coworker told about the bootcamp.  Unsure if coding was an option, 
        she took a leap of faith and decided to make a career change.  Debbie previously worked
        in an elementary school clinic.  Her patience and love of caring for children made her the
        perfect fit in her position. </p>
        
        <br /><p> While working and attending bootcamp, Debbie was asked to 
        facilitate an after school program which involed teaching Scratch Jr. to the students.  She
        happily accepted this exciting opportunity.  Not only has the program been a huge success,
        but it's only offered in one elementary school within the district.  Debbie is looking forward
        to applying her artistic abilities to front-end development.</p>

        
    </div>
</div>

 

     
 
