@{
    ViewBag.Title = "Contact";
}



<div class="col-md-12 spacer1"></div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4 intro">
            <h2>Debbie Nolan</h2>
            <h3>Let's Talk</h3>

            <address>
                5507 Hampstead Ave.<br />
                Parma, OH  44129<br />
                <abbr title="Phone">P:</abbr>
                440-590-1026
            </address>

            <address>
                Email:  debno1967@gmail.com
            </address>
        </div>
    </div>








