@{
    ViewBag.Title = "Home Page";
    ViewBag.BodyClass = "homepage";
}



<div class="col-md-12 spacer"></div>
    <div class="container">
        <div class="col-md-1"></div>
        <div class="col-md-5 intro">
            <h1>Debbie Nolan</h1>
            <h3>Welcome to my portfolio</h3>
        </div>
</div>
